# {{ ansible_managed }}

startup_message {{ screen_startup_message }}
hardstatus {{ screen_hardstatus }}
caption always {{ '\'%{= dg} %H %{G}| %{B}%l %{G}|%=%?%{d}%-w%?%{r}(%{d}%n %t%? {%u} %?%{r})%{d}%?%+w%?%=%{G}| %{B}%M %d %c:%s \'' }}
defutf8 on
utf8 on on
defscrollback {{ screen_defscrollback }}
bind c screen 1
bind ^c screen 1
bind 0 select 10
screen 1
